<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
     autoReload="true"
     throwExceptions="false"
      throwConfigExceptions="true"
     internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="app-name" value="Clean Architecture"/>
  <variable name="DeryaDbConnection" value="Data Source=localhost;Initial Catalog=CleanArchitectureDB;Integrated Security=False;User ID=sa;Password=Bimser123">
  </variable>
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="CAF.Core" />
    <add assembly="NLog.Mongo"/>
    <add assembly="System.Data.SqlClient"/>
  </extensions>

  <targets>
    <target xsi:type="FallbackGroup" name="EMailOrFileOrDb" returnToFirstOnSuccess="true">
      
      <!--Write events and send mail-->
      
      <target name="database" xsi:type="Database"  dbProvider="System.Data.SqlClient"
            connectionString="${var:deryaConnectionString}">
        <commandText>
          INSERT INTO LOGS (
          [APP_NAME],[LOG_DATE],[USER_ID],[TYPE],[TITLE],[DETAIL]
          ) VALUES (
          @AppName, @LogDate, @UserId,@Type,@Title,@Detail
          );
        </commandText>

        <parameter name="@AppName" layout="Clean Architecture" />
        <parameter name="@LogDate" layout="${date}" />
        <parameter name="@UserId" layout="${mdc:user_id}" />
        <parameter name="@Title" layout="${message}" />
        <parameter name="@Type" layout="${level}" />
        <parameter name="@Detail" layout="${stacktrace}" />
      </target>

      <target xsi:type="Mail" name="m"
            smtpServer="smtp.live.com" smtpPort="587"
            smtpUserName="noreply@workatapp.com" smtpPassword="QfeHXqP9"
            smtpAuthentication="Basic"

              subject="${app-name} ${level} "
              layout="${date} ${uppercase:${level}} ${message}${newline}${newline}"
              body="
               &lt;b&gt;Datetime : &lt;/b&gt;${date}${newline}
               &lt;b&gt;Version : &lt;/b&gt;${assembly-version}${newline}
               &lt;b&gt;UserId : &lt;/b&gt;${mdc:user_id}${newline}${newline}

               &lt;b&gt;Controller : &lt;/b&gt;${aspnet-mvc-controller}${newline}
               &lt;b&gt;Action : &lt;/b&gt;${aspnet-mvc-action}${newline}
               &lt;b&gt;Req. Url : &lt;/b&gt;${aspnet-request-url}${newline}
               &lt;b&gt;Req. Querystring : &lt;/b&gt;${aspnet-request-querystring}${newline}${newline}

               ${message}${newline}${newline}"
              header="&lt;b&gt;Logger : &lt;/b&gt;${logger}${newline} &lt;b&gt;Level : &lt;/b&gt;${level}${newline}${newline}"
              footer="&lt;b&gt;&lt;small&gt;Bu e-posta ${app-name} tarafından bilgilendirme amacıyla gönderilmiştir.&lt;/small&gt;&lt;/b&gt;"

              useSystemNetMailSettings="false"
              replaceNewlineWithBrTagInHtml="true"
              enableSsl="true" addNewLines="true" html="true"
      from="noreply@workatapp.com" to="f.gurdal@hotmail.com.tr" cc="devops@workatapp.com" bcc=""  />


 
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="EMailOrFileOrDb" />
  </rules>
</nlog>
